@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data

@inject SignInManager<WebApplication1User> SignInManager
@inject UserManager<WebApplication1User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li>
            <a class="nav-link navbarTitel" id="navbarFav" asp-area="" asp-controller="RecipeWeb" asp-action="FavoritePage">מועדפים</a>
        </li>
    <li class="nav-item">
            <a id="manage" class="nav-link navbarTitel" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
            <form id="logoutForm" class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("HomePage", "RecipeWeb", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link navbarTitel border-0">Logout</button>
        </form>
    </li>
   
}
else
{
    <li class="nav-item">
            <a class="nav-link navbarTitel" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link navbarTitel" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

 <style>
    .navbarTitel{
        font-family: "Amatic SC", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: xxx-large;
   
    }

  

    #navbarFav{
        color: rgb(193, 225, 193);
    }

 </style>