<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <title>שימור מזון</title>
    <link rel="stylesheet" href="/css/FoodPreservationGuide.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="header">
        <h1 id="headH">שימור מזון</h1>
        <p id="headP">שימור מזון מתייחס לפעולות שנועדו למנוע קלקול או ריקבון של מזון לזמן רב ככל האפשר. הריקבון של המזון נובע משגשוג של שמרים, עובש ובקטריות, הגורמים להשחתת החומרים האורגניים הנמצאים במזון. בעזרת שימור מזון אפשר למנוע את השגשוג של מזיקים אלה ואת הפעילות ההרסנית שלהם. מהם האמצעים לשימור מזון, ומהן השיטות המסורתיות לשימור מזון? אילו חומרים משמרים קיימים, והאם יש מזונות שלא צריכים שימור? כל התשובות ומידע נוסף בהמשך</p>
    </div>
    <div id="ImgFoodPreservationDiv">
        <img src="~/images/img/FoodPreservation.webp" alt="תמונה של שימור מזון" id="ImgFoodPreservation">
	</div>

    <div class="container">
        <h2 class="H1class">מהם האמצעים לשימור מזון?</h2>
        <p class="PHead">ישנם אמצעים רבים לשימור מזון, בהם:</p>

        <section class="meat-section">
            <h3>קירור או הקפאת מזון</h3>
            <ul>
                <li>פעולות המשמרות את המזון מהרגע שהוא מוכן עד לרגע שהוא נאכל. קירור או הקפאה מאטים את ריקבון המזון באמצעות הפיכת לחות עודפת לקרח, והוא זה המעכב את שגשוג החיידקים.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>הוספת חומר משמר למזון</h3>
            <ul>
                <li>תוסף מזון המוכנס למזון כדי למנוע ריקבון וקלקול שלו ומדכא צמיחת חיידקים או פטריות העלולים לקלקל את המזון, לקצר את חיי המדף שלו או לגרום למחלות.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>הקרנה</h3>
            <ul>
                <li>חשיפת המזון לקרינה מייננת. תהליך זה מתבצע בעיקר לשימור תבלינים, ומחייב סימון הקרנה על גבי האריזה.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>עישון המזון</h3>
            <ul>
                <li>חימום המזון בכלי סגור שאליו מועבר עשן, אשר יוצר תגובה כימית עם השכבה העליונה של המזון ומונע התרבות חיידקים.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>ייבוש מזון</h3>
            <ul>
                <li>מונע מהמזון להיות מצע להתרבות של חיידקים ופטריות, וכך מעכב את קלקול המזון. ייבוש מזון נעשה במזונות פחמימתיים, במזונות חלבוניים, בבשר, בדגים ובמאכלי ים.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>קלייה</h3>
            <ul>
                <li>חשיפת המזון לחום יבש, אש גלויה או תנור, אשר מייבשים את החומר באמצעות אידוי הנוזלים שבו ומונעים התרבות חיידקים. קלייה נעשית בעיקר בפולי קפה, בפולי קקאו, בשקדים ובלחם.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>אריזת ואקום</h3>
            <ul>
                <li>הנחת המזון בקופסאות פח, אריזה פלסטית או צנצנת זכוכית, יצירת ואקום במכל המשמש לשימור ואטימתו. חוסר אוויר לא מאפשר ליצורים אירוביים להתקיים, וכך המזון נשמר לתקופה ארוכה.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>ציפוי המזון</h3>
            <ul>
                <li>ציפוי מזונות, בעיקר פירות, בחומרי הזגה. דוגמא לכך היא ציפוי בשעווה.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>לחץ הידרוסטטי גבוה</h3>
            <ul>
                <li>גורם להשבתת הפעילות של אורגניזמים הפוגעים במזון ללא הפחתה של הערכים התזונתיים והטעמים שלו, לעומת טיפולים מבוססי חום.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>המגון לחץ גבוה לאיחוד</h3>
            <ul>
                <li>אילוץ החומרים במזון לעבור דרך פתחים דקים בעזרת לחץ גבוה, תהליך הגורם לעלייה בטמפרטורה והרג של החיידקים, תוך פגיעה מינימלית בערכים התזונתיים. משמש בעיקר לשימור חלב ולשימור מאכלים שמוכנים מתערובת אחידה.</li>
            </ul>
        </section>

        <h2 class="H1class">שיטות שימור מזון מסורתיות</h2>
        <p class="PHead">במהלך ההיסטוריה האדם פיתח דרכים שונות לשימור מזון ולמניעת בזבוז שלו, בהן:</p>

        <section class="meat-section">
            <h3>המלחה</h3>
            <ul>
                <li>למלח יכולת ייבוש מעולה המאפשרת לו להוציא את הלחות מהרקמות, לייבש אותן ולייצר תנאים המונעים התפתחות של בקטריות וחיידקים.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>המתקה</h3>
            <ul>
                <li>סוכר בריכוז גבוה יוצר סביבה שלא מאפשרת התפתחות אורגניזמים וחיידקים.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>החמצה</h3>
            <ul>
                <li>החמצה של המזון שיוצר סביבה חומצית לא מאפשרת לחיידקים להתרבות.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>שימון</h3>
            <ul>
                <li>שימור המזון באמצעות בידודו מאוויר. חומרים כמו דבש ושמן לא מאפשרים לאוויר לחדור דרכם, והם שימשו בעיקר לשימור בשר.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>חליטה</h3>
            <ul>
                <li>הוספת חליטה הורסת את האנזימים המצויים בפירות וירקות אשר גורמים לריקבון.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>הנחת משקולות</h3>
            <ul>
                <li>הנחת משקולות משאירה את החומרים מתחת לנוזלים, ומונעת ריקבון שנוצר מחשיפתם לאוויר.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>חפירת בורות</h3>
            <ul>
                <li>חפירת בור בעומק של כשלושה מטרים מתחת לפני האדמה לצורך שימור וקירור המזון. הטמפרטורה מתחת לאדמה קרה, לכן משתמשים בשיטה זו בעיקר לשימור בשר.</li>
            </ul>
        </section>

        <h2 class="H1class">מהם חומרים משמרים?</h2>
        <p class="PHead">שנם מגוון חומרים המשמשים לשימור מזון:</p>

        <section class="meat-section">
            <h3>סוכרים</h3>
            <ul>
                <li>סוכר לבן מזוקק מייצר שימורים צלולים ומוצקים. דבש, סוכר חום וסירופים מייצרים שימורים רכים יותר.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>שמנים</h3>
            <ul>
                <li>קיימים שמנים בעלי טעם עדין שלא משתלטים על הטעם הכללי של החומרים, ומנגד שמנים בכבישה קרה משמשים לשימור בטעם מובהק יותר.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>שומנים מוקשים</h3>
            <ul>
                <li>משמשים להוספת לחות ושימור המזון.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>מלחים</h3>
            <ul>
                <li>מלחים לכבישה משתמשים במלח טהור, כמו מלח להכשרת בשר.</li>
            </ul>
        </section>

        <section class="meat-section">
            <h3>אלכוהול</h3>
            <ul>
                <li>אלכוהול 40% לפחות מעכב התפתחות חיידקים ושימושו העיקרי הוא שימור פירות.</li>
            </ul>
        </section>

        <h2 class="H1class">האם יש בקופסת שימורים חומר משמר?</h2>
        <p>לא. בקופסת שימורים נעשה שימוש באטימת המוצר באופן הרמטי, שמסייע לשימור המזון ללא שימוש בחומרים משמרים. לאחר מכן מעקרים את המזון בתוך הקופסה בטמפרטורה של 121 מעלות להשמדת החיידקים.</p>

        <h2 class="H1class">מהו פיסטור?</h2>
        <p>פיסטור הוא חימום המוצר לטמפרטורה גבוהה, שבה מושמדים כל החיידקים, וקירורו במהירות. תהליך הפיסטור הורג נגיפים, חיידקים ופטריות הנמצאים במזון מבלי לפגוע בטעמו או בערכו התזונתי, וכך מאריך את חיי המדף שלו.</p>

        <h2 class="H1class">האם יש מאכלים שלא צריכים שימור?</h2>
        <p>כן. מאכלים כמו שעועית יבשה, חמאת אגוזים, פירות יבשים, אגוזים וזרעים מסוגים שונים לא צריכים לעבור תהליך של שימור, והם בעלי חיי מדף ארוכים באופן טבעי.</p>

        <h2 class="H1class">לסיכום</h2>
        <p id="Pend">מטרת שימור המזון היא הארכת חיי המדף שלו באמצעות מניעת שגשוג מזיקים כמו עובש ובקטריות. ישנן שיטות רבות לשימור מזון כמו הקפאה, הקרנה, עישון, קלייה או הוספת חומרים משמרים. בעבר היו משתמשים בשיטות מסורתיות כמו המלחה, המתקה, שימון או חליטה. ישנם חומרי שימור טבעיים שאפשר להשתמש בהם כמו סוכרים, שמנים, אלכוהול ומלחים מסוגים שונים. בעזרת השיטות השונות לשימור מזון אפשר למנוע בזבוז שלו ולהשתמש בו לאורך זמן ארוך יותר.</p>

    </div>

</body>
</html>

