<<!DOCTYPE html>
<html dir="rtl" len="heb">
    <head>
        <title>הקפאת מזון</title>
    <link rel="stylesheet" href="/css/FreezingFoodGuide.css" />
    </head>
    <body>

    <div class="header">
        <h1 id="headH">הקפאת מזון</h1>
        <p>הקפאת מזון משמרת אותו מהרגע שהוא מוכן עד לזמן שבו הוא נאכל. משחר ההיסטוריה, חקלאים, דייגים, ציידים ולוכדים שימרו את תוצריהם בבניינים לא מחוממים במהלך עונת החורף. הקפאה מאטה את ריקבון המזון על ידי הפיכת לחות עודפת לקרח ומעכבת את הצמיחה של רוב זני החיידקים.</p>
    </div>
    <div id="FrozenFoodPicDiv">
		<img src="~/images/img/FreezingFood1.webp" alt="A picture of a frozen food" id="FrozenFoodPic">
    </div>
    
  
    <div class="container">

        <h1 class="H1class">כמה זמן אפשר לשמור אוכל במקפיא?</h1>
        <p class="PHead">אוכל שמגיע באריזה סגורה ונשמר בעומק הפריזר יכול להחזיק מספר חודשים, עד שנה. "להחזיק" פירושו אכיל - כי לא מתפתחים בו חיידקים והוא לא מתחיל להתפרק – אבל לא בהכרח טעים. הטעם והמרקם, איך לומר בעדינות, לא ישתפרו עם הזמן. אבל לזה תכף נגיע.</p>

        <div class="meat-section">
            <ul>
                <li>ירקות קפואים (מהסופר): כ־8 חודשים</li>
                <li>גזר, כרוב, סלק: 8-10 חודשים</li>
                <li>עגבניות ועשבי תיבול טריים: חודשיים</li>
                <li>פלפלים טריים: 6 חודשים</li>
                <li>קלח תירס: 8 חודשים</li>
                <li>בננות: 3 חודשים</li>
                <li>תפוחי עץ: 8 חודשים</li>
                <li>לחם, לחמניות: 3-5 חודשים אם הכנסתם ישר למקפיא, 2-3 שבועות אם פתחתם את האריזה, הוצאתם פרוסה והחזרתם למקפיא.</li>
                <li>דגנים מבושלים, כמו קינואה ואורז: 6 חודשים</li>
                <li>פסטה מבושלת: עד חודשיים</li>
                <li>טופו: 5 חודשים</li>
                <li>בקר טרי: 4 חודשים, בקר מבושל: 2 חודשים</li>
                <li>עוף טרי: 9 חודשים, עוף מבושל: 4 חודשים</li>
                <li>דג טרי: 6 חודשים, דג מבושל: 2 חודשים</li>
            </ul>

        </div>

        <div class="meat-section">
            <h1>ומה לגבי המרקם והטעם? מה עובר הקפאה בשלום ומה לא כדאי לנסות אפילו? </h1>
            <p> כלל הזהב: מזון עם תכולת מים גבוהה ייצא מהקפאה יותר רך וסמרטוטי (הטעם לא בהכרח יפגע). אז אם תכננתם להקפיא ירק - הקשים יותר, כמו גזר, סלק או קולורבי, ישמרו על מרקם מוצק יותר מעגבנייה.</p>
        </div>

        <div class="meat-section">
            <h1>איך מקפיאים מזון?</h1>
            <ul>
                <li>תנו למזון להתקרר לטמפרטורת החדר לפני ההקפאה.</li>
                <li>חלקו את המזון למנות קטנות כדי להקל על ההפשרה והחימום מחדש.</li>
                <li>השתמשו בכלי הקפאה עמידים או בשקיות הקפאה אטומות למניעת חדירת אוויר.</li>
                <li>סמנו על האריזה את תאריך ההקפאה ושם המזון.</li>
                <li>השתדלו לשמור את המזון המבושל במקפיא למשך זמן קצר ככל האפשר כדי לשמור על טריותו (בדרך כלל עד 2-3 חודשים).</li>
            </ul>

        </div>

        <div class="meat-section">
            <h1>איך מפשירים מזון?</h1>
            <ul>
                <li>להפשרה, העבירו את המזון המבושל למקרר ללילה כדי להפשיר באיטיות ובטיחות.</li>
                <li>לחלופין, ניתן להשתמש במיקרוגל בהגדרת הפשרה מהירה, אך יש להיזהר שלא לבשל את המזון.</li>
                <li>חממו את המזון המבושל עד שהוא מגיע לטמפרטורה פנימית בטוחה (בדרך כלל 74 מעלות צלזיוס).</li>
                <li>הימנעו מהקפאה מחדש של מזון שהופשר פעם אחת.</li>
            </ul>

        </div>

        <div class="meat-section" id="DivEnd">
            <h1>לא מומלץ להקפאה!</h1>
            <ul>
                <li>מלפפונים - מכילים תכולת מים גבוהה והופכים לרכים ומימיים לאחר הפשרה.</li>
                <li>חסה - מאבדת את המרקם הקריספי והופכת לרכה ורטובה.</li>
                <li>סלרי - הופך לרך ומימי לאחר הפשרה.</li>
                <li>תפוחי אדמה - נוטים לאבד את המרקם ולהפוך לגרגירים לאחר הפשרה.</li>
                <li>צנוניות - מאבדות את הקריספיות והופכות לרכות לאחר הפשרה.</li>
                <li>אבטיחים - מכילים תכולת מים גבוהה והופכים לרכים ומימיים לאחר הפשרה.</li>
                <li>בננות - מאבדות את המרקם והופכות לרכות לאחר הפשרה.</li>
                <li>תפוחים - הופכים לרכים ומאבדים את המרקם הקריספי.</li>
                <li>ענבים - הופכים לרכים ומאבדים את המרקם הקריספי.</li>
                <li>שזיפים - מאבדים את המרקם והופכים לרכים לאחר הפשרה.</li>
            </ul>

        </div>



    </div>

    </body>
    </html>

