<!DOCTYPE html>
<html dir="rtl" len="heb">
    <head>
        <title>
            מדריך מפורט לחלקי בשר
        </title>
         <link rel="stylesheet" href="/css/MeatGuide.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
    <div class="header">
        <h1 id="headH">מדריך מפורט לחלקי הבשר</h1>
        <p>בשר הבקר מחולק לחלקים ממוספרים לפי אזור, כמו קדמי, אחורי או כתף, מה שמסייע ברכישת הבשר ובהתאמת טכניקות בישול שונות לכל נתח.</p>
    </div>
    <div id="ImgMeatDiv">
		<img src="~/images/img/CowCutsDiagram.webp" alt="A picture of a Meat Guide" id="ImgMeat">
	</div>
    
    <div class="container">
      
        <h1 class="H1class">נתחים קדמיים:</h1>

        <div class="meat-section">
            <h1>מס' 1 - ורד הצלע , אנטריקוט , פריים ריב, סטייק עין</h1>
            <ul>
                <li>שריר נייח, נתח קדמי, צמוד לצלעות.</li>
                <li>משקלו נע בין 1.5-3.5 ק"ג.</li>
                <li>נתח עשיר בשומן, נתח משויש.</li>
                <li>שיטות בישול: צלייה יבשה בתנור, טיגון במחבת, גריל, מוקפץ בתור נתחונים.</li>
                <li>רצוי לתבל את ורד הצלע בתיבול מינימאלי של מלח ופלפל.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 2 – צלעות נמוכות , אונטר ריב, ריפען, עורף</h1>
            <ul>
                <li>שריר נייד. משקלו נע בין 2-4 ק"ג.</li>
                <li>הנתח נמצא בין האנטריקוט לצוואר.</li>
                <li>משובץ בכמות שומן רבה יחסית ומאופיין במרקם מעט סיבי.</li>
                <li>מתאים בעיקר לבישול ארוך, קדירה, טחינה.</li>
                <li>שיטות בישול: בישול בנוזלים, צלי ברוטב.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 3 - חזה, ברוסט, בריסקט</h1>
            <ul>
                <li>שריר נייד. נמצא מתחת לחלקו הקדמי של הצוואר.</li>
                <li>משקלו נע בין 3.5-5.5 ק"ג.</li>
                <li>נתח המאופיין בשומן רב (בעיקר חיצוני).</li>
                <li>מתאים בעיקר לצלייה בתנור כנתח או כגלילה, מתאים גם לעישון וכבישה.</li>
                <li>שיטות בישול: בישול בנוזלים, צלוי ברוטב, צלייה יבשה בתנור (עטוף היטב).</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 4 כתף מרכזי, כתף אחורי</h1>
            <ul>
                <li>שריר נייד. הכתף נמצא בחלקו העליון של הרגל. משקלו נע בין 3-5 ק"ג.</li>
                <li>בשר לא שמן, אחוזי השומן בו נמוכים מאוד וניתן לנקותו מהשומן החיצוני בקלות.</li>
                <li>מתאים לבישול ארוך בתנור / ברוטב, לטחינה, לשניצל בקר.</li>
                <li>שיטות בישול: טיגון במחבת, צלוי ברוטב, קדירה.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 5 צלי כתף</h1>
            <ul>
                <li>שריר נייד. נתח צלי הכתף ממוקם סמוך לכתף המרכזית.</li>
                <li>משקלו נע בין 1.5-3 ק"ג.</li>
                <li>נתח ללא שומן, במרכזו פס ג'לטין.</li>
                <li>להכנה בחתיכה אחת (בשלמותו), מתאים לבישול ארוך ובישול ברוטב.</li>
                <li>שיטות בישול: צלייה ברוטב, קדירה.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 6 – פילה מדומה, פלאש פילה</h1>
            <ul>
                <li>שריר נייד. ממוקם בין צלי הכתף לקשתית. משקלו נע בין 0.8-1.8 ק"ג.</li>
                <li>נתח בשר הדומה בשמו ובמידה מסוימת אף במראהו לפילה.</li>
                <li>צורתו מעוגלת ומוארכת, ובעל מרקם לא שמן.</li>
                <li>ניתן להוריד בקלות את עודפי השומן החיצוני שעוטפים אותו.</li>
                <li>מתאים לבישול ארוך בקדירה.</li>
                <li>שיטות בישול: צלייה ברוטב, קדירה.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 7 – מכסה הצלע</h1>
            <ul>
                <li>שריר נייד. ממוקם מתחת לורד הצלע. משקלו נע בין 0.7-1.5 ק"ג.</li>
                <li>מתאים לבישול ארוך וטחינה.</li>
                <li>שיטות בישול: צלייה ברוטב, קדירה.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 8 – שוק, שריר הזרוע</h1>
            <ul>
                <li>שריר נייד. הנתח ממוקם בחלק התחתון של הכתף.</li>
                <li>משקלו נע בין 1.2-4 ק"ג.</li>
                <li>מתאים לבישול ארוך חמין או לבישול ברוטב.</li>
                <li>שיטות בישול: צלייה ברוטב, קדירה.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 9 - קשתית, אסאדו, שפונדרה</h1>
            <ul>
                <li>שריר נייד. החלק נמצא מיד בהמשך לחזה. משקלו נע בין 4-8 ק"ג.</li>
                <li>הקשתית הוא נתח שטוח, המכסה את הצלעות.</li>
                <li>הנתח נמכר עם או בלי עצם.</li>
                <li>הנתח המאופיין בשכבות של בשר ושומן המקנה לבשר את טעמו המשובח ועסיסיותו.</li>
                <li>מתאים לגריל, לתנור וגם לתבשילים (מתאים לחמין ובישול ארוך).</li>
                <li>שיטות בישול: צלייה ברוטב, קדירה, בישול בנוזלים.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 10 – צוואר</h1>
            <ul>
                <li>שריר נייד. נמצא מתחת לראש. משקלו נע בין 6-8 ק"ג.</li>
                <li>נתח שריר גדול ושומני.</li>
                <li>מתאים בעיקר לטחינה ולבישול ארוך.</li>
                <li>שיטות בישול: צלייה ברוטב, קדירה.</li>
            </ul>
        </div>

        <h1 class="H1class">נתחים אחוריים:</h1>
        <div class="meat-section">
            <h1>מס' 11 - סינטה, בר מותן, סירלוין</h1>
            <ul>
                <li>שריר נייח. ממוקם בצמוד הפנימי לפילה. משקלו נע בין 3-5 ק"ג.</li>
                <li>נתח הסינטה הוא נתח משובח ביותר.</li>
                <li>שכבת השומן העוטפת את הנתח מקנה לבשר טעם ועסיסיות מודגשים וטעימים במיוחד.</li>
                <li>מתאים לסטייקים עבים עשויים במחבת או על האש או כרוסטביף, צלוי בתנור או על האש כנתח שלם.</li>
                <li>שיטות בישול: צלייה יבשה בתנור, טיגון במחבת, גריל, מוקפץ במחבת כנתחונים.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 12 - פילה, מותנית</h1>
            <ul>
                <li>שריר נייח. הפילה ממוקם בצמוד לסינטה. משקלו נע בין 1.5-2.8 ק"ג.</li>
                <li>הנתח האיכותי והיוקרתי ביותר בבקר, טעמו של הפילה עדין ומרקמו רך.</li>
                <li>מתאים לצלייה או טיגון קצרים מאד כנתח שלם בתנור או פרוס לסטייקים עבים / נתחונים.</li>
                <li>שיטות בישול: צלייה יבשה בתנור, טיגון במחבת, גריל, מוקפץ במחבת.</li>
                <li>מומלץ לתבל את הפילה במלח ופלפל על מנת לשמור על טעמו הטבעי והנפלא, אך גם רטבים מתאימים מאוד.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 13 - שייטל, כנף העוקץ, ראמפ</h1>
            <ul>
                <li>שריר נייח, בשר לא שמן ורך. משקלו נע בין 1.6-2.5 ק"ג.</li>
                <li>מתאים לשיפודים, סטייקים, שניצל וינאי ולצלייה קצרה.</li>
                <li>שיטות בישול: צלייה בתנור, טיגון במחבת, גריל, טיגון, מוקפץ במחבת.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 14 – אווזית, קצ'קע, נוס-אגוז</h1>
            <ul>
                <li>שריר נייד. נתח רזה מאוד. משקלו נע בין 2.5-4 ק"ג.</li>
                <li>מומלץ לתבשילי קדירה ובישול ארוך.</li>
                <li>מתאים גם כבשר טחון.</li>
                <li>שיטות בישול: צלייה ברוטב, צלייה יבשה בתנור, קדירה.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 15 – צ'אך, ירכה</h1>
            <ul>
                <li>שריר נייד. נתח לא שמן. מכיל מכסה שומן חיצוני בלבד שניתן להסרה.</li>
                <li>מתאים לבישול ארוך, לצלי קדירה.</li>
                <li>שיטות בישול: קדירה, צלוי ברוטב.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 16 – כף, נוס</h1>
            <ul>
                <li>שריר נייד. נתח רזה מאוד. יש עליו מכסה שומן שיורד לגמרי.</li>
                <li>מתאים לבישול קצר, סטייקים, אסקלופ, שניצלים.</li>
                <li>שיטות בישול: צלייה יבשה בתנור, טיגון במחבת, גריל, טיגון, מוקפץ במחבת.</li>
            </ul>
        </div>
       
        <div class="meat-section">
            <h1>מס' 17 – פלדה, כסאליים</h1>
            <ul>
                <li>שריר נייד. חלק בשר דק במיוחד (כמו מעטפת).</li>
                <li>יחסית שמן, מרבית השומן חיצוני וניתן לנקותו מעודפי שומן עד רמה טובה יחסית.</li>
                <li>מתאים לבישול בקדירה, לטיגון ולטחינה.</li>
                <li>שיטות בישול: קדירה, טיגון, צלוי ברוטב.</li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>מס' 18 – שוק אחורי, פולי</h1>
            <ul>
                <li>שריר נייד. בשר המכיל הרבה ג'לטין!</li>
                <li>ניתן לקנות גם כאוסובוקו פרוס עם עצם לפרוסות עבות של כ 2.5 – 3 ס"מ אשר במרכז כל פרוסה עצם עשירה במח עצם או ללא עצם.</li>
                <li>מתאים במיוחד לבישול ארוך.</li>
                <li>שיטות בישול: קדירה, בישול בנוזלים, צלוי ברוטב.</li>
            </ul>
        </div>

        <div class="meat-section" id="EndDivmeatSection">
            <h1>מס' 19 – וייסבראטן, ראש ירכה</h1>
            <ul>
                <li>שריר נייד. נתח בשר רזה לגמרי.</li>
                <li>מכיל מכסה שומן חיצוני שיורד בקלות.</li>
                <li>נתח עגול ויפה מתאים אך ורק לצלי בבישול ארוך מאוד.</li>
                <li>שיטות בישול: קדירה, צלוי ברוטב.</li>
            </ul>
        </div>

    </div>

    </body>

    </html>
