<!DOCTYPE html>
    <html>
    <head>
        <title>מדריך על תבלינים</title>
    <link rel="stylesheet" href="/css/SpicesGuide.css" />
    </head>
    <body>
    <div class="header">
        <h1 id="headH">תבלינים</h1>
        <p>תבלין הוא חומר המוסף למזון לשם שיפור טעמו, בדרך כלל בכמויות קטנות יחסית לשאר מרכיבי המנה. התבלינים מיוצרים בדרך כלל מצמחי תבלין. הם יכולים להיות מופקים מפרי, מזרע, משורש או מקליפה של צמח, לרוב לאחר תהליך של ייבוש או כתישה.</p>
    </div>
    <div id="SpiceJarsPicDiv">
        <img src="~/images/img/Spices1.webp" alt="A picture of aspice jars" id="SpiceJarsPic">
	</div>
    

    <div class="container">

        <div class="meat-section">
            <h1>פפריקה:</h1>
            <ul>
                <li>
                    <strong>סגולות רפואיות:</strong> הפפריקה עשירה בבטא קרוטן ובפיטוכימיקל הנקרא זאקסנטין - נוגד חימצון רב עוצמה, תורמת לשיפור עיכול, עשירה בנוגדי חימצון ומסייעת בהגנה על ריריות ולכן עשויה לתרום במצבי נפיחות, גזים וקשיי עיכול, חיזוק מערכת החיסון, איזון רמות כולסטרול ועוד.
                    <br>
                    <strong>אחסון:</strong> מומלץ לשמור בצנצנת אטומה במקום קריר ויבש.
                </li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>כורכום:</h1>
            <ul>
                <li>
                    <strong>סגולות רפואיות:</strong> מכיל אנטי אוקסידנטים וניתן לו יכולת נגד דלקתית, ויכולת להגן על המוח ולשפר את תפקודו.
                    <br>
                    <strong>אחסון:</strong> כדאי לאחסן בקופסא אטומה, במקום קריר ומוצל באופן מובהט. מומלץ להפעיל זהירות כשמשתמשים, משום שהכורכום יכול להצביע על משטחים.
                </li>
            </ul>
        </div>

        <div class="meat-section">
            <h1>קינמון:</h1>
            <ul>
                <li>
                    <strong>סגולות רפואיות:</strong> מכיל חומרים אנטי-דלקתיים ואנטי בקטריאליים, ויכול לתרום לשיפור רמות הסוכר בדם.
                    <br>
                    <strong>אחסון:</strong> מומלץ לשמור בצנצנת אטומה במקום קריר ויבש.
                </li>
            </ul>
        </div>

        <div class="meat-section" id="EndDivmeatSection">
            <h1>אורגנו:</h1>
            <ul>
                <li>
                    <strong>סגולות רפואיות:</strong> האורגנו הוא צמח עשב מרפא המכיל מספר תכונות רפואיות מעולות. הנה כמה מהסגולות הרפואיות המוכרות של האורגנו:חסימתת דלקות,חיזוק המערכת החיסונית,לשפר לחץ דם וכולסטרול ומסייע לעיכול.


                    <br>
                    <strong>אחסון:</strong> מומלץ לשמור בצנצנת אטומה במקום קריר ויבש.
                </li>
            </ul>
        </div>
        
    </div>
    </body>
    </html>
